<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Documentation</title>
		<style>
			body{
				background-color: #121229;
				color: #ffffff;
			}
			blockquote{
				text-align: justify;
				border-left: 0.25em cadetblue solid;
				padding-left: 0.5em;
			}
			a{
				color: #ffffff;
			}
		</style>
	</head>
	<body>
		<h3>DJango Practice</h3>
		<h4>MPOP Reverse II (Ryann Kim Sesgundo)</h4>
		<hr>
		<blockquote>This is just a simple DJango Program learned from <a href="https://www.youtube.com/watch?v=rHux0gMZ3Eg">CodeWithMosh</a>.</blockquote>
		<hr>
		<h3>Packages Installed</h3>
	</body>
</html>