{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title> 
		<link rel="stylesheet" href="{% static '/styles/main.css' %}">
	</head>
	<body>
		<div class="container">
			<form action="/" method="POST">
				{% csrf_token %}
				<table>
					<caption>
						<h3>Login Panel</h3>
						<h3>{{ data.msg }}</h3>
					</caption>
					<tr>
						<th>
							<label for="username">Username: </label>
						</th>
						<td>
							<input type="text" name="username" id="username">
						</td>
					</tr>
					<tr>
						<th>
							<label for="password">Password: </label>
						</th>
						<td>
							<input type="password" name="password" id="password">
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="submit" valur="Login">
						</td>
					</tr>
				</table>
			</form>
		</div>
	</body>
</html>